body{
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;   

    font-size: 16px;   
    font-weight: 500; 

    background-color: rgb(221, 232, 237);
}
.title{
    font-weight: bold;
    font-size: 20px;
    color: rgb(44, 44, 90);
    display: flex;
    align-items: center;
    cursor: pointer;
}
header img{
    height: 40px;
}

.nav-bar{
    display: flex;
    align-items: center;
}

.nav-home,
.nav-aboutus,
.nav-projects,
.nav-contact,
.nav-service{
    padding: 12px;
    margin: 10px;
}
.nav-home:hover,
.nav-aboutus:hover,
.nav-projects:hover,
.nav-contact:hover,
.nav-service:hover{
    cursor: pointer;
    color: rgb(82, 82, 207);
}
.user-input{
    display: flex;
    align-items: center;
}
.log-in-icon{
   font-size: 22px;
   padding-top: 5px;
}
.log-in-button,
.sign-in-button{
    height: 40px;
    width: 82px;
    border: none;
    border-radius: 20px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 16px; 
    cursor: pointer;
    background-color:rgb(44, 44, 90);
    color: white; 
    transition: background-color 0.15s, color 0.15s;
}
.sign-in-button:hover,
.log-in-button:hover{
    color: rgb(44, 44, 90);
    background-color: white; 
       
}
.main-section{
    background-image: url("images/construction-image2.jpg");
    background-size:cover;
    height: 600px;
    
}
.about {
    padding:10px 50px;
    background-color: white;
    margin-top: 20px;
}

.about h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about p,
.about ul{
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    text-align: justify;
}

.about p:last-child {
    margin-bottom: 0;
} 



.info-box{
    height: 350px;
    width: 300px;
    color: rgb(221, 232, 237);
    background-color: rgba(44, 44, 90,0.91);
    line-height: 25px;
    padding: 6px 12px;
    position: relative;
    top: 375px;
    left: 200px;
  
    
}
.info-box p{
    font-size: 18px;
}

 .contact-us-box {
    background-color: white;
    margin-bottom: 20px;
    height: 375px;
}

.contact-us-box h2 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-us-info {
    display: flex;
    justify-content: space-evenly;
}

.address-box,
.input-box {
    width: 20%;
}

.input-box input {
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin-bottom: 10px;
}

.contact-us-box p {
    color: gray;
}

.contact-us-box button {
    height: 40px;
    width: 90px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(44, 44, 90);
    color: white;
    transition: background-color 0.15s;
}

.contact-us-box button:hover {
    background-color: rgb(77, 77, 125);
}

.service-box{
    display: flex;
    margin-top: 150px;
    background-color: white;
}
.service-box-1,
.service-box-2,
.service-box-3{
    text-align: center;
    width: 100%;
    padding:50px 0px;
}
.service-box-2{
    color: rgb(221, 232, 237);
    background-color: rgba(44, 44, 90,0.91);
}

.service-box-1 h3,
.service-box-2 h3,
.service-box-3 h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.service-box-1 p,
.service-box-2 p,
.service-box-3 p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
